html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
  linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 120px 120px;
}
*, *:after, *:before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: black;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-transform: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media(min-width: 2500px) {
  html {
    font-size: 17px;
  }
}
@media(min-width: 3500px) {
  html {
    font-size: 20px;
  }
}