.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  background-color: white;
  opacity: 0;
  animation: screenOnWait 1.2s ease-in-out 0.35s forwards;
}
.about__header {
  min-height: 15%;
  margin: 10px 0 5px 0;
  text-align: center;
}
.header {
  margin: 0;
  font-size: 1.5em;
  border-bottom: 3px solid #212121;
}
.about__description__container {
  height: 85%;
}
.about__description {
  display: flex;
  align-items: center;
  height: 60%;
}
.about__content {
  font-size: 1em;
}
.about__content .external__link {
  color: #007bff;
}
.about__authors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.about__author__block {
  margin-top: 3px;
  font-size: 0.95em;
  font-weight: 700;
}
.external__link:hover {
  text-decoration: underline;
}
.icon {
  font-size: 1.1em;
}
/*****
ANIMATIONS
*****/
@keyframes screenOnWait {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@media(max-width: 400px) {
  .about__header {
    min-height: 10%;
  }
  .header {
    font-size: 1.4em;
  }
  .about__content {
    font-size: 0.9em;
  }
  .about__author__block {
    font-size: 0.9em;
  }
}
@media(max-width: 350px) {
  .header {
    font-size: 1.35em;
  }
  .about__author__block {
    font-size: 0.85em;
  }
}