/*****
SUGGESTIONS
*****/
.suggestions__container {
  width: 100%;
  opacity: 0;
  overflow-x: hidden;
  max-height: 234px;
  -webkit-animation: screenOnWait 1.2s ease-in-out 0.35s forwards;
          animation: screenOnWait 1.2s ease-in-out 0.35s forwards;
}
.suggestion {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.3em;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
}
.suggestion:hover .suggestion__description {
  background-color: #2196F3;
  color: white;
}
.suggestion__active .suggestion__description {
  background-color: #2196F3;
  color: white;
}
.suggestion__img {
  position: relative;
  width: 40px;
  height: 30px;
  margin: auto;
  z-index: 1;
  -webkit-animation: bobbing 0.24s ease-out infinite alternate;
          animation: bobbing 0.24s ease-out infinite alternate;
}
.suggestion:before {
  content: "";
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: white;
}
.suggestion:after {
  content: "";
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  background-image: url(/static/media/pokeLogo.aebd3ef2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.3;
}
.suggestion__description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 65px);
  border-radius: 10px;
  margin-left: 5px;
}
.no__type {
  background-color: white;
}
.suggestion__name {
  margin-right: auto;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggestion__text__hightlight {
  font-weight: 700;
}
.suggestion__id {
  margin-left: auto;
  margin-right: 15px;
  font-weight: 700;
}
/**********
TEMP FIX UNTIL MOUSEOVER FUNCTION IS MADE
**********/
.suggestions__container:hover .suggestion__active .suggestion__description {
  background-color: white;
  color: black;
}
.suggestions__container:hover .suggestion__active:hover .suggestion__description {
  background-color: #2196F3;
  color: white;
}
.suggestions__none {
  margin-top: 5px;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}
/*****
ANIMATIONS
*****/
@-webkit-keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
@-webkit-keyframes screenOnWait {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@keyframes screenOnWait {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}