.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 65px;
}
.row {
  display: flex;
  position: relative;
  width: 75%;
  margin: 15px;
  background-color: white;
  border: 3px solid #212121;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  z-index: 1;
  transition: all 0.15s ease;
}
.statsContainer {
  width: 65%;
  border-radius: 15px;
}
.stats__chart__menu {
  margin: 5px 0 0 15px;
  font-family: "Oxanium";
}
.stats__chart__menu__header {
  font-weight: 600;
  font-size: 1.1em;
}
.stats__chart__menu__list {
  cursor: pointer;
  font-family: "Oxanium";
  font-weight: 600;
}
.stats__chart__menu__list:hover {
  border-color: #212121;
}
.stats__chart__menu__list option {
  font-family: "Oxanium", Arial;
  font-weight: 400;
  font-size: 1.1em;
}
.spritesContainer {
  width: 35%;
  border-left: 3px solid #212121;
}
.pageControls {
  position: fixed;
  right: 5%;
  width: 7.5%;
  top: 50%;
  height: 4em;
  transform: translateY(-20%);
}
.page__controls__container .pageControls:nth-child(1) {
  left: 5%;
}
.pageControls__left {
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translateY(-45%);
}
.pageControls__right {
  position: absolute;
  top: 45%;
  right: 5%;
  transform: translateY(-45%);
}
.pageControls__left__button, .pageControls__right__button {
  display: inline-block;
  background-color: white;
  width: 4em;
  height: 4em;
  vertical-align: bottom;
  border-radius: 50%;
}
.pageControls__left__chevron, .pageControls__right__chevron {
  display: inline-block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.3em solid #9E9E9E;
  transition: all 0.15s ease;
}
.pageControls__left__chevron:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 57%;
  width: 1.4em;
  height: 1.4em;
  border-left: 0.4em solid #9E9E9E;
  border-bottom: 0.4em solid #9E9E9E;
  transform: translate(-57%, -50%) rotate(45deg);
  transition: all 0.15s ease;
}
.pageControls__right__chevron:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 43%;
  width: 1.4em;
  height: 1.4em;
  border-right: 0.4em solid #9E9E9E;
  border-bottom: 0.4em solid #9E9E9E;
  transform: translate(-43%, -50%) rotate(-45deg);
  transition: all 0.15s ease;
}
.pageControls__hover:hover,
.pageControls__hover:hover .pageControls__left__chevron:after,
.pageControls__hover:hover .pageControls__right__chevron:after {
  border-color: #df3a27;
}
.pageControls__hover:hover .pageControls__left__chevron:after {
  transform: translate(-57%, -50%) rotate(45deg);
  animation: onLeftButtonHover 1.35s ease-in-out infinite;
}
.pageControls__hover:hover .pageControls__right__chevron:after {
  transform: translate(-43%, -50%) rotate(-45deg);
  animation: onRightButtonHover 1.35s ease-in-out infinite;
}
@keyframes onLeftButtonHover {
  0% {
    transform: translate(-57%, -50%) rotate(45deg);
  }
  10% {
    transform: translate(-67%, -50%) rotate(45deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  30% {
    transform: translate(-64%, -50%) rotate(45deg);
  }
  40% {
    transform: translate(-53%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(-57%, -50%) rotate(45deg);
  }
}
@keyframes onRightButtonHover {
  0% {
    transform: translate(-43%, -50%) rotate(-45deg);
  }
  10% {
    transform: translate(-33%, -50%) rotate(-45deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  30% {
    transform: translate(-36%, -50%) rotate(-45deg);
  }
  40% {
    transform: translate(-47%, -50%) rotate(-45deg);
  }
  50% {
    transform: translate(-43%, -50%) rotate(-45deg);
  }
}
@media(max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media(max-width: 1000px) {
  .row {
    width: 88%;
  }
  .pageControls {
    right: 0%;
    width: 5%;
  }
  .page__controls__container .pageControls:nth-child(1) {
    left: 0%;
  }
  .pageControls__left__button, .pageControls__right__button {
    width: 3em;
    height: 3em;
  }
  .pageControls__left__chevron, .pageControls__right__chevron {
    width: 3em;
    height: 3em;
    border: none;
  }
}
@media(max-width: 700px) {
  .page__controls__container {
    position: relative;
    display: flex;
    align-content: center;
    width: 100%;
    margin-top: 15px;
  }
  .pageControls {
    position: relative;
    width: 7.5%;
    top: 0;
    right: 0;
    height: 4em;
    transform: translateY(0);
  }
  .page__controls__container .pageControls:nth-child(1) {
    margin-right: auto;
    margin-left: 20%;
  }
  .page__controls__container .pageControls:nth-child(2) {
    margin-right: 20%;
  }
  .pageControls__left__button, .pageControls__right__button {
    width: 4em;
    height: 4em;
  }
  .pageControls__left__chevron, .pageControls__right__chevron {
    width: 4em;
    height: 4em;
    border: 0.3em solid #9E9E9E;
  }
  .row {
    flex-direction: column;
  }
  .statsContainer {
    width: 100%;
    height: 500px;
  }
  .spritesContainer {
    width: 100%;
    height: 500px;
    border-top: 3px solid #212121;
    border-left: none;
  }
}
@media(max-width: 500px) {
  .container {
    margin-top: 80px;
  }
  .row {
    width: 95%;
  }
}