.desc {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
  font-family: "Oxanium";
  line-height: 1;
  font-size: 1em;
  font-weight: 600;
}
.desc__name {
  width: 100%;
  text-align: center;
  font-family: "Oxanium";
  font-size: 1.8em;
  margin: 0;
  font-weight: 700;
}
.desc__physical {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.desc__physical__trait {
  padding: 0 5px;
}
.desc__types {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.desc__types__type {
  width: 33%;
  padding: 4px 0px 0px 0px;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media(min-width: 2500px) {
  .desc {
    font-size: 1.2em;
  }
}
@media(max-width: 1850px) {
  .desc__types {
    font-size: 1em;
  }
}
@media(max-width: 1000px) {
  .desc {
    font-size: 0.9em;
  }
  .desc__types {
    font-size: 1.05em;
  }
}
@media(max-width: 800px) {
  .desc {
    font-size: 1.1em;
  }
}
@media(max-width: 500px) {
  .desc {
    font-size: 1.2em;
  }
  .desc__types {
    font-size: 1em;
  }
}
@media(max-width: 330px) {
  .desc {
    font-size: 1em;
  }
}