/*****
NAVBAR
*****/
.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #df3a27;
  border-bottom: 2px solid #212121;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.navbar:before {
  content: "";
  position: fixed;
  top: 50px;
  right: 0;
  height: 50px;
  width: 100px;
  background-color: #df3a27;
  border-bottom: 2px solid #212121;
  box-shadow: 0 10px 6px rgba(0,0,0,0.16), 0 10px 6px rgba(0,0,0,0.23);
  z-index: 1000;
}
.navbar:after {
  content: "";
  position: fixed;
  top: 33px;
  right: 73px;
  height: 50px;
  width: 67px;
  background-color: #df3a27;
  border-bottom: 2px solid #212121;
  transform: rotate(45deg);
  z-index: 1000;
}
.main__logo {
  font-family: "Oxanium";
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
}
/*****
POKEDEX REACT MENU LIGHTS
*****/
.lights__container {
  position: relative;
  width: 200px;
  height: 25px;
  margin-left: auto;
  z-index: 1001;
}
.lights__on {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
/*****
MAIN LIGHT
*****/
.lights__main {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: 20px;
  width: 75px;
  height: 75px;
  background-color: #212121;
  border-radius: 50%;
  border: 6px solid white;
  cursor: pointer;
  outline: none;
}
.lights__main__light {
  position: relative;
  width: 57px;
  height: 57px;
  background-color: #0099B8;
  border-radius: 50%;
  overflow: hidden;
}
.lights__main__light:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #00BFE0;
  transition: transform 0.1s;
}
.lights__main__light:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  transition: transform 0.1s;
}
.lights__main__on.nav__menu__expanded {
  width: 57px;
  height: 57px;
  background-color: #00b4d7;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__main__on.nav__menu__expanded:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #01daff;
  transition: transform 0.1s;
}
.lights__main__on.nav__menu__expanded:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}
.lights__main__on.nav__menu__closed {
  width: 57px;
  height: 57px;
  background-color: #00b4d7;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__main__on.nav__menu__closed:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #01daff;
}
.lights__main__on.nav__menu__closed:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}
.lights__main__menu {
  position: absolute;
  font-size: 30px;
  opacity: 0.4;
  z-index: 1;
  transition: transform 0.1s;
}
.lights__main:hover .lights__main__menu {
  opacity: 1;
}
.lights__main:focus .lights__main__menu {
  opacity: 1;
}
.lights__main:active .lights__main__light:before {
  transform: translate(-3px, -3px);
}
.lights__main:active .lights__main__light:after {
  transform: translate(2px, 2px)
}
.lights__main:active .lights__main__menu {
  transform: scale(0.9);
}
.lights__main:active .lights__main__on.nav__menu__expanded:before {
  transform: translate(-3px, -3px);
}
/*****
SUB LIGHTS
*****/
.lights__sub__one, .lights__sub__two, .lights__sub__three {
  position: absolute;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
  border: 2px solid #212121;
}
.lights__sub__one {
  right: 105px;
  background-color: #9B0118;
}
.lights__sub__one__on.nav__menu__expanded {
  background-color: #e80934;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__one__on.nav__menu__closed {
  background-color: #e80934;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__sub__two {
  right: 130px;
  background-color: #a2880f;
}
.lights__sub__two__on.nav__menu__expanded {
  background-color: #fbe44b;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__two__on.nav__menu__closed {
  background-color: #fbe44b;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__sub__three {
  right: 155px;
  background-color: #34693c;
}
.lights__sub__one:before, .lights__sub__two:before, .lights__sub__three:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  z-index: 100;
}
.lights__sub__three__on.nav__menu__expanded {
  background-color: #51a262;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__three__on.nav__menu__closed {
  background-color: #51a262;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
/*****
NAV SIDEBAR
*****/
.nav__menu__list {
  position: fixed;
  height: calc(100% - 50px);
  width: 412px;
  max-width: 500px;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #C6210E;
  background-color: #D22D1A;
  border: 2px solid #212121;
  overflow-y: auto;
  z-index: -1;
  transform: translateX(105%);
  transition: transform 0.5s ease, visibility 0.5s ease;
}
.nav__menu__list__expanded {
  visibility: visible;
  transform: translateX(0);
}
/*****
MEDIA QUERIES
*****/
@media(min-width: 2250px) {
  .nav__menu__list {
    width: 20%;
  }
}
@media(max-width: 1000px) {
  .navbar:before {
    height: 30px;
    width: 83px;
  }
  .navbar:after {
    top: 23px;
    right: 60px;
    height: 50px;
    width: 40px;
  }
  /*****
  POKEDEX REACT MENU LIGHTS
  *****/
  .lights__container {
    position: relative;
    width: 200px;
    height: 25px;
    margin-left: auto;
    z-index: 1001;
  }
  .lights__on {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
  }
  /*****
  MAIN LIGHT
  *****/
  .lights__main {
    right: 12px;
    top: -7px;
    height: 65px;
    width: 65px;
  }
  .lights__main__light {
    width: 47px;
    height: 47px;
  }
  .lights__main__light:before {
    top: -5px;
    left: -5px;
    width: 45px;
    height: 45px;
  }
  .lights__main__light:after {
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
  }
  .lights__main__on.nav__menu__expanded {
    width: 47px;
    height: 47px;
  }
  .lights__main__on.nav__menu__expanded:before {
    width: 45px;
    height: 45px;
  }
  .lights__main__on.nav__menu__expanded:after {
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
  }
  .lights__main__on.nav__menu__closed {
    width: 45px;
    height: 45px;
  }
  .lights__main__on.nav__menu__closed:before {
    width: 45px;
    height: 45px;
  }
  .lights__main__on.nav__menu__closed:after {
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
  }
  .lights__main__menu {
    font-size: 25px;
  }
  .lights__sub__one {
    right: 95px;
  }
  .lights__sub__two {
    right: 120px;
  }
  .lights__sub__three {
    right: 145px;
  }
}
@media(max-width: 800px) {
  .nav__menu__list {
    width: 60%;
  }
}
@media(max-width: 700px) {
  .nav__menu__list {
    width: 65%;
  }
}
@media(max-width: 600px) {
  .main__logo {
    font-size: 1.8em;
  }
  .nav__menu__list {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 500px) {
  .navbar:before {
    top: 60px;
    height: 29px;
    width: 84px;
  }
  .navbar:after {
    top: 34px;
    right: 61px;
    height: 50px;
    width: 34px;
  }
  .main__logo {
    font-size: 1.6em;
  }
  .lights__sub__one {
    right: 90px;
  }
  .lights__sub__two {
    right: 113px;
  }
  .lights__sub__three {
    right: 136px;
  }
  .lights__sub__one, .lights__sub__two, .lights__sub__three {
    width: 1.1em;
    height: 1.1em;
    margin-right: 3px;
  }
  .nav__menu__list {
    height: calc(100% - 65px);
    overflow-y: scroll;
    padding-bottom: 30px;
  }
}
/*****
ANIMATIONS
*****/
@keyframes flickerLightOn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.25;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.75;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerLightOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}