.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px;
  background-color: #df3a27;
  border-bottom: 2px solid #212121;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main__logo {
  font-family: "Oxanium";
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
}
/*****
POKEDEX REACT MENU LIGHTS
*****/
.lights__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
}
.lights__on {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
}
.lights__main {
  position: relative;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background-color: #0277BD;
  border: 3px solid #dddddd;
  border: 3px solid white;
}
.lights__main__on.nav__menu__expanded {
  background-color: #4FC3F7;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__main__on.nav__menu__closed {
  background-color: #4FC3F7;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__sub__one {
  position: relative;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  margin-left: 5px;
  background-color: #9B0118;
  border: 2px solid white;
}
.lights__sub__one__on.nav__menu__expanded {
  background-color: #e80934;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__one__on.nav__menu__closed {
  background-color: #e80934;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__sub__two {
  position: relative;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  margin-left: 5px;
  background-color: #a2880f;
  border: 2px solid white;
}
.lights__sub__two__on.nav__menu__expanded {
  background-color: #fbe44b;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__two__on.nav__menu__closed {
  background-color: #fbe44b;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
.lights__sub__three {
  position: relative;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  margin-left: 5px;
  background-color: #34693c;
  border: 2px solid white;
}
.lights__sub__three__on.nav__menu__expanded {
  background-color: #51a262;
  animation: flickerLightOn 0.5s ease-in-out;
}
.lights__sub__three__on.nav__menu__closed {
  background-color: #51a262;
  animation: flickerLightOff 0.5s ease-in-out forwards;
}
/*****
HAMBURGER MENU
*****/
.nav__menu {
  height: 40px;
  width: 40px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 5px;
  border: 2px solid #212121;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.nav__menu__bar {
  width: 28px;
  height: 5px;
  margin: auto;
  margin-top: 5px;
  background-color: #212121;
  border-radius: 25px;
  transition: all 0.15s;
}
.nav__menu:hover {
  background-color: #D53220;
}
.nav__menu:focus {
  background-color: #D53220;
}
.nav__menu__expanded {

}
.nav__menu__closed {

}
.nav__menu__closed .nav__menu__bar__one {
  animation: navBarOneClose 0.5s ease forwards;
}
.nav__menu__closed .nav__menu__bar__two {
  animation: navBarTwoClose 0.5s ease forwards;
}
.nav__menu__closed .nav__menu__bar__three {
  animation: navBarThreeClose 0.5s ease forwards;
}
.nav__menu__expanded .nav__menu__bar__one {
  animation: navBarOneOpen 0.5s ease forwards;
}
.nav__menu__expanded .nav__menu__bar__two {
  animation: navBarTwoOpen 0.5s ease forwards;
}
.nav__menu__expanded .nav__menu__bar__three {
  animation: navBarThreeOpen 0.5s ease forwards;
}
/*****
NAV SIDEBAR
*****/
.nav__menu__list {
  position: fixed;
  height: calc(100% - 50px);
  width: 400px;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #212121;
  border: 2px solid #212121;
  transform: translateX(105%);
  transition: all 0.5s ease;
}
.nav__menu__list__expanded {
  visibility: visible;
  transform: translateX(0);
}
.nav__menu__list__collapsible {
  margin-top: 165px;
}
/*****
MEDIA QUERIES
*****/
@media(min-width: 2250px) {
  .nav__menu__list {
    width: 20%;
  }
}
@media(max-width: 800px) {
  .nav__menu__list {
    width: 50%;
  }
}
@media(max-width: 640px) {
  .nav__menu__list {
    width: 100%;
  }
}
/*****
ANIMATIONS
*****/
@keyframes flickerLightOn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.25;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.75;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerLightOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navBarOneOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(198%);
  }
  100% {
    transform: translateY(198%) rotate(45deg);
  }
}
@keyframes navBarTwoOpen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes navBarThreeOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-198%);
  }
  100% {
    transform: translateY(-198%) rotate(-45deg);
  }
}
@keyframes navBarOneClose {
  0% {
    transform: translateY(198%) rotate(45deg);
  }
  50% {
    transform: translateY(198%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes navBarTwoClose {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navBarThreeClose {
  0% {
    transform: translateY(-198%) rotate(-45deg);
  }
  50% {
    transform: translateY(-198%);
  }
  100% {
    transform: translateY(0);
  }
}