.desc__ext {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  padding: 10px 5px;
  font-family: "Oxanium";
  line-height: 1;
  font-size: 1.2em;
  font-weight: 600;
}
.desc__ext__name {
  width: 100%;
  font-family: "Oxanium";
  font-size: 2em;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}
.desc__ext__genera {
  width: 100%;
  font-family: "Oxanium";
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}
.desc__ext__physical {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
}
.desc__ext__physical__trait__row {
  display: flex;
}
.desc__ext__physical__trait__column__two {
  display: flex;
  margin-left: 10%;
}
.desc__ext__physical__trait_heading {
  padding: 5px;
  font-weight: 700;
}
.desc__ext__physical__trait {
  padding: 5px;
}
.desc__ext__physical__trait__bold {
  font-weight: 700;
}
.desc__ext__types {
  display: flex;
  height: 25%;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.desc__ext__types__type {
  width: 25%;
  padding: 5px 0px 4px 0px;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  color: white;
  text-shadow:
  -1px -1px 0 black,  
   1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media(max-width: 1500px) {
  .desc__ext {
    line-height: 1.1;
    font-size: 1.1em;
  }
}
@media(max-width: 800px) {
  .desc__ext {
    min-width: 70%;
    line-height: 1;
    font-size: 1em;
  }
}
@media(max-width: 700px) {
  .desc__ext {
    padding: 10px 7px;
    font-size: 1.1em;
  }
  .desc__ext__name {
    text-align: center;
  }
  .desc__ext__genera {
    text-align: center;
  }
  .desc__ext__physical__trait__row {
    justify-content: center;
  }
  .desc__ext__types {
    justify-content: center;
  }
  .desc__ext__types__type {
    width: 33%;
  }
}
@media(max-width: 500px) {
  .desc__ext {
    font-size: 1em;
  }
}
@media(max-width: 350px) {
  .desc__ext {
    font-size: 0.95em;
  }
}