.desc__ext {
  /* position: absolute;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center; */
  display: flex;
  flex-direction: column;
  flex: 75;
  padding: 10px 5px;
  /* min-width: 75%; */
  /* height: 100%; */
  font-family: "Oxanium";
  line-height: 1;
  font-size: 1.2em;
  font-weight: 600;
}
.desc__ext__name {
  width: 100%;
  font-family: "Oxanium";
  font-size: 1.6em;
  font-size: 2em;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}
.desc__ext__genera {
  width: 100%;
  font-family: "Oxanium";
  font-size: 1em;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}
.desc__ext__physical {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
}
.desc__ext__physical__trait {
  padding: 5px 5px;
}
.desc__ext__physical__trait__bold {
  font-weight: 700;
}
.desc__ext__types {
  display: flex;
  height: 25%;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.desc__ext__types__type {
  width: 25%;
  padding: 5px 0px 4px 0px;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}