.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: auto;
  margin-top: 15px;
  margin-top: 65px;
}
.small__container {
  margin-top: 15px;
}

@media(max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}