.sprites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.sprites__header {
  position: relative;
  padding-bottom: 10px;
  width: 100%;
}
.sprites__header__heading {
  margin: 0;
  margin-top: 10px;
  font-family: "Oxanium";
  font-size: 1.8em;
  text-align: center;
}
.sprites__header__unknown {
  text-align: center;
  font-family: "Oxanium";
  font-weight: 600;
}
.sprites__header__bar {
  height: 20px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  border-radius: 25px;
  border: 3px solid #212121;
  overflow: hidden;
}
.sprites__header__male {
  display: inline-block;
  height: 20px;
  background-color: #2497eb;
}
.sprites__header__female {
  float: right;
  height: 20px;
  background-color: #ea1e63;
}
.sprites__header__bar__heading {
  position: absolute;
  width: 100%;
  background-color: white;
  text-align: center;
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 1.05em;
}
.sprites__header__bar__heading__male {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #2497eb;
}
.sprites__header__bar__heading__female {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #ea1e63;
}
.sprites__sprite__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(to bottom, rgba(36, 151, 235, 0.25) 50%, rgba(234, 30, 99, 0.25) 50%);
}
.sprites__sprite__males {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprites__sprite__females {
  display: flex;
  justify-content: center;
  align-items: center;
}
.symbol {
  margin-left: 0.2em;
}
.sprites__sprite {
  width: 50%;
}
.sprites__no__sprite {
  display: none;
}