.sprites {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.sprites__header {
  position: relative;
  width: 100%;
}
.sprites__header__bar {
  height: 20px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  border-radius: 25px;
  border: 3px solid #212121;
  overflow: hidden;
}
.sprites__header__male {
  display: inline-block;
  height: 20px;
  background-color: #2497eb;
}
.sprites__header__female {
  float: right;
  height: 20px;
  background-color: #ea1e63;
}
.sprites__header__bar__heading {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 1.05em;
}
.sprites__header__bar__heading__male {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #2497eb;
}
.sprites__header__bar__heading__female {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #ea1e63;
}
.sprites__sprite__container {
  margin: auto;
  margin-top: 10px;
}
.symbol {
  margin-left: 0.2em;
}
.sprites__sprite {
  width: 50%;
}