.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  opacity: 0;
  -webkit-animation: screenOnWait 1.2s ease-in-out 0.35s forwards;
          animation: screenOnWait 1.2s ease-in-out 0.35s forwards;
}
/*****
ANIMATIONS
*****/
@-webkit-keyframes screenOnWait {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@keyframes screenOnWait {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}